body {
  margin: 0%;
}

.TodoPage {
  padding: 50px;
  background: radial-gradient(farthest-corner at 60% 55%,#606060, #444444, #404040);
  height: 100vh;
  font-family: 'Montserrat', Courier, monospace;
  min-height: 100vh;
  text-align: center;
}

